@import "node_modules/azure-devops-ui/Core/_platformCommon.scss";

.sample-hub {
    font-size: $fontSizeM;
}

.currentlist-area-text {
    font-weight: bolder;
}

.currentlist-text {
    color: rgb(168, 167, 167);
}

.currentlist-active-text {
    font-weight: inherit;
}

.currentlist-my-text {
    color: rgb(168, 167, 167);
    font-weight: bolder;
}

.currentlist-active-my-text {
    font-weight: bolder;
}
